# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  # Use the variables you've already set in Azure DevOps:
  # ACR_SERVER, ACR_USERNAME, ACR_PASSWORD, SECRET_KEY, RESOURCE_GROUP

stages:
- stage: TestAndBuild
  displayName: Test and Build Images
  jobs:
  - job: TestBackend
    displayName: Run Backend Tests
    pool:
      name: Default
    steps:
    - task: UsePythonVersion@0
      displayName: 'Set Python version to 3.10'
      inputs:
        versionSpec: '3.10'
        addToPath: true
    
    - script: |
        python -m pip install --upgrade pip
        pip install -r backend/requirements.txt
      displayName: 'Install backend dependencies'
    
    - script: |
        cd backend
        pytest
      displayName: 'Run pytest'
      env:
        SECRET_KEY: $(SECRET_KEY)

  - job: BuildAndPush
    displayName: Build and Push Docker Images
    dependsOn: TestBackend
    pool:
      name: Default
    steps:
    - task: Docker@2
      displayName: Login to ACR
      inputs:
        command: login
        containerRegistry: '$(ACR_SERVER)'
        
    - task: Docker@2
      displayName: Build backend image
      inputs:
        command: build
        repository: 'expense_backend'
        dockerfile: '$(Build.SourcesDirectory)/backend/Dockerfile'
        containerRegistry: '$(ACR_SERVER)'
        tags: |
          $(tag)
          latest
    
    - task: Docker@2
      displayName: Push backend image
      inputs:
        command: push
        repository: 'expense_backend'
        containerRegistry: '$(ACR_SERVER)'
        tags: |
          $(tag)
          latest
    
    - task: Docker@2
      displayName: Build frontend image
      inputs:
        command: build
        repository: 'expense_frontend'
        dockerfile: '$(Build.SourcesDirectory)/frontend/Dockerfile'
        containerRegistry: '$(ACR_SERVER)'
        tags: |
          $(tag)
          latest
    
    - task: Docker@2
      displayName: Push frontend image
      inputs:
        command: push
        repository: 'expense_frontend'
        containerRegistry: '$(ACR_SERVER)'
        tags: |
          $(tag)
          latest
    
    - task: PublishPipelineArtifact@1
      displayName: Upload compose file
      inputs:
        targetPath: '$(Build.SourcesDirectory)/docker-compose.yml'
        artifact: 'compose'
        publishLocation: 'pipeline'

- stage: Deploy
  displayName: Deploy to Azure
  dependsOn: TestAndBuild
  condition: succeeded()
  jobs:
  - deployment: DeployToWebApp
    displayName: Deploy to Azure Web App
    pool:
      name: Default
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            displayName: Download compose file
            inputs:
              buildType: 'current'
              artifactName: 'compose'
              targetPath: '$(Pipeline.Workspace)/compose'
          
          - task: AzureCLI@2
            displayName: Deploy to Azure Web App
            inputs:
              azureSubscription: 'YourServiceConnectionName'  # Replace with your Azure service connection
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az webapp config container set \
                  --name YourWebAppName \
                  --resource-group $(RESOURCE_GROUP) \
                  --multicontainer-config-type compose \
                  --multicontainer-config-file $(Pipeline.Workspace)/compose/docker-compose.yml